


.nest{
    width: 100%;
}

.nest img{
    width: 100%;
}

.egg{
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: nowrap;
    align-content: space-around;

    border: black;
    margin-left: 8%;
    color: black;
    font-weight: 500;
    font-style: 45px;
       
}

.egg p{
    padding-left: 4%;
    color: white;
}

.egg h1{
    font-size: 65px;
    font-family: 'Major Mono Display', monospace;
    text-align: left;
    padding: 3%;
    margin: 0;
    color: white;
    text-align: left;
    margin-left: 0;
    margin-bottom: 0%;
    margin-top: 5%;
    width: 100%
    
  
   }

   .gull10{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;  
    margin-top: 0;
    margin-bottom: 0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    
    
    text-align: left;
}

.gull10 p{
    font-size: 25px;
    font-family: 'Inconsolata', monospace;  
    text-align: center;
}
.box{
    
    font-size: 15px;
    color: whitesmoke;
    background-color: rgb(26, 25, 25);
    padding: 1.5%;
    margin: 1%;
    border: 0.2%;
    border-style: solid;
    border-color: white;
    width: 94.5%;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    
}

.egg img{
    image-rendering: optimizeQuality;
    width: 150px;
    height: 150px;
    padding: 1.5%;
    padding-left: 1.5%;
    padding-bottom: 1.5%;
}

.egg{
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: space-around;
    margin-left: ;
}

.gull3{
    font-size: 20px;
    color: whitesmoke;
    background-color: black;
    padding: 1.5%;
    margin: 1%;
    border: 0.5%;
    border-style: solid;
    border-color: white;
    width: 32%;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}
.gull4{
    font-size: 20px;
    color: whitesmoke;
    background-color: black;
    padding: 1.5%;
    margin: 1%;
    border: 1%;
    border-style: solid;
    border-color: white;
    width: 32%;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.box2{
    
    font-size: 15px;
    color: whitesmoke;
    background-color:  rgb(7, 5, 5);
    padding: 1.5%;
    margin: 1%;
    border: 1%;
   
    border-style: solid;
    border-color: white;
    width: 94.5%;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    
}